<header class="ph3 pv2 pv4-ns tc">
	<img src="{{ "/assets/img/parrot.gif" | prepend: site.baseurl }}" class="db center mv2" alt="{{ site.title }}">
	<h1 class="f5 mv3 ttu"><a href="#" class="link fc-party">{{ site.title }}</a></h1>
	<p>{{ site.description }}</p>
	<div class="mv2">
		<div class="fb-share-button dib v-top" data-href="http://webshowcase.party" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwebshowcase.party%2F&amp;src=sdkpreparse">Compartir</a></div>
		<a href="https://twitter.com/share" class="twitter-share-button dib v-bottom" data-show-count="false">Tweet</a>
	</div>
</header>